instagramBlue = #125688
hoverBlue     = #74b8ea

body, html
    margin 0
    height 100%

#chromestagram_container
    width 500px
    height 500px
    position relative
    overflow hidden
    background #fff
    margin 0
    padding 0
    -webkit-font-smoothing antialiased
    font-family "Avenir Next", Helvetica, Arial, sans-serif
    
    .container
        height 100%
        width 100%
        text-align center
        background-color instagramBlue
        color white
        
        .gram-login
            color white
            width 200px
            height 105px
            margin-top -20px
            margin-left -100px
            top 50%
            left 50%
            position absolute
            font-family "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif
            font-size 18px
                
            .login-button
                width 100%
                background-color white
                color instagramBlue
                height 30px
                font-size 26px
                padding 15px 0
                line-height 30px
                font-weight 600
                border-radius 5px
                margin-top 7px
                
                &:hover
                    background-color hoverBlue
                    transition 1s linear
                    color white
                    cursor pointer
                

@import 'test.styl'